body {
    font-family: Arial;
    font-style: normal;
    font-size: smaller;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(194, 193, 193);
}

.container {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    height: 100vh;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 60%;
    background-color: rgb(248, 224, 203);
}

.subarticle {
    display: flex;
    flex-wrap: wrap;

}

.item {
    background-color: orange;
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
}

#thrd {
    margin-left: auto;
    margin-right: auto;
}

.aside {
    background-color: rgb(172, 207, 172);
    flex: 0 0 40%;
}

footer {
    display: flex;
    background-color: rgb(194, 193, 193);
    justify-content: space-between;
    align-items: flex-end;
}

.footer p {
    background-color: white;
    padding: 5px;
    margin: 10px;
}
